@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
*{
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: #C9EEFF;
    color: #000;
}
header{
    text-align: center;
    margin-bottom: 50px;
    border-bottom: 3px solid #000;
}
main{
    width: 1000px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.servidor, .usuario{
    height: 400px;
    width: 400px;
    border: 2px solid #000;
    border-radius: 4px;
    display: grid;
    text-align: center;
}
.form{
    display: grid;
    margin-top: 20px;
}
input{
    width: 300px;
    height: 30px;
    margin: auto;
    margin-top: -50px;
}
.btn{
    margin: auto;
    width: 308px;
    height: 50px;
    margin-top: 20px;
    background-color: #62CDFF;
}