@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
*{
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: #FFF6BF;
    color: #000;
}
header{
    text-align: center;
    margin-bottom: 50px;
    border-bottom: 3px solid #000;
}
main{
    display: flex;
    gap: 100px;
    justify-content: center;
}
.servidor, .usuario{
    height: 400px;
    width: 400px;
    border: 2px solid #000;
    border-radius: 4px;
    display: flex;
    justify-content: center;
}
.form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}
input{
    width: 300px;
}
.btn{
    width: 100%;
    margin-top: 20px;
    background-color: #FFEBAD;
}